@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<div class="widget-content">
    <div class="padd">
        <br />
        <!-- Form starts.  -->
        @using (Html.BeginForm("Lab1", "Application", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            <br />
            <div class="editor-field" hidden="hidden">
                <input type="text" name="Id" value="@ViewBag.courseId" />
            </div>

            <br />
            <div class="row">
                <div class="col-lg-6">
                    <label> Загрузка excel файла</label>
                    <input type="file" name="fileUpload" />
                    <span style="color:red;font-weight:bold">@Html.ValidationSummary()</span>
                    <input type="submit" class="btn btn-info" value="Счтать" class="btn btn-primary btn-md" />
                </div>
            </div>
        }
    </div>
</div>