@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#"></a></p>
    </div>
    <div class="col-md-4">
        <h2>ГКС. Лабораторная номер 1 и 2</h2>
        <p>Первая лабораторная робота. </p>
        <p><a href="@Url.Action("Lab1","Lab")">Перейти до вирішення побудови груп</a></p>
        <p><a href="@Url.Action("CreateGraph", "Lab")">Побудувати тестовий граф</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>GKC-Lab.azurewebsites.com</p>
        <p><a class="btn btn-default" href="#"></a></p>
    </div>
</div>